{{ define "main" }}
{{- if (.Site.Params.homepage.showHeroSection) }}
<section class="hero">
    {{- if (.Site.Params.homepage.heroBackgroundVideo) }}
    <video autoplay muted loop id="hero-background-video">
        <source src="{{ .Site.Params.homepage.heroBackgroundVideo }}" type="video/mp4">
    </video>
    {{- end }}
    <header class="container" id="hero-section">
        <hgroup>
            <h1>{{.Site.Params.homepage.heroUpperTitle}}</h1>
            <h1>{{.Site.Params.homepage.heroTitle}}</h1>
            <h2>{{.Site.Params.homepage.heroDescription}}</h2>
        </hgroup>
        <div>
            <a
                    class="hero-buttons"
                    href="{{ .Site.Params.homepage.heroCTAPrimaryUrl | relURL  }}"
                    role="button"
            >{{.Site.Params.homepage.heroCTAPrimaryText}}</a
            >
            <a
                    href="{{ .Site.Params.homepage.heroCTASecondaryUrl | relURL  }}"
                    role="button"
                    class="contrast outline"
            >{{.Site.Params.homepage.heroCTASecondaryText}}</a
            >
        </div>
    </header>
</section>
{{ end }}

{{- if (.Site.Params.homepage.whatWeDo) }}
<a id="whatwedo"></a>
<section class="r-what-we-do">
    <div class="container">
        <figure>
            <img class="r-circle r-250" src="{{.Site.Params.homepage.whatWeDo.imageUrl}}" layout="responsive" alt="{{.Site.Params.homepage.whatWeDo.alt}}" />
        </figure>
        <div>
            <div class="text-center">
                <h2>{{.Site.Params.homepage.whatWeDo.Title}}</h2>
            </div>
            <p>{{.Site.Params.homepage.whatWeDo.Text}}</p>
        </div>
    </div>
</section>
{{ end }}

{{- if (.Site.Params.homepage.howItWorks) }}
<a id="about"></a>
<section>
    <hgroup class="text-center">
        <h2>{{.Site.Params.homepage.howItWorks.title}}</h2>
        <h3>{{.Site.Params.homepage.howItWorks.description}}</h3>
    </hgroup>
    <div class="container">
        <div class="grid">
            <video controls playsinline="playsinline" width="100%">
                <source src="{{.Site.Params.homepage.howItWorks.videoUrl}}" type="video/mp4">
            </video>
        </div>
    </div>
</section>
{{ end }}

{{- if (.Site.Params.homepage.showTeamSection) }}
<a id="team"></a>
<section>
    <hgroup class="text-center">
        <h2>{{.Site.Params.homepage.teamTitle}}</h2>
        <h3>{{.Site.Params.homepage.teamDescription}}</h3>
    </hgroup>
    <div class="container">
        <div class="grid">
            {{ range .Site.Params.homepage.team }}
            <a class="portfolio-post" href="">
                <figure>
                    <img src="{{.imageUrl}}" layout="responsive" alt="{{.alt}}" />
                </figure>
                <hgroup class="text-center">
                    <h4>{{.name}}</h4>
                </hgroup>
            </a>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}

{{- if (.Site.Params.homepage.showBlogSection) }}
<section>
    <hgroup class="text-center">
        <h2>{{.Site.Params.homepage.blogTitle}}</h2>
        <h3>{{.Site.Params.homepage.blogDescription}}</h3>
    </hgroup>
    <div class="container">
        <div class="grid grid-post">
            {{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections | first
            3) }} {{ range $paginator.Pages }}
            <a href="{{ .RelPermalink }}">
                <article class="text-center">
                    {{if .Params.Cover.Image}}
                    <figure>
                        <img
                                src="{{.Params.Cover.Image | absURL}}"
                                width="600"
                                height="400"
                                layout="responsive"
                        />
                        {{ end }}
                    </figure>
                    <hgroup>
                        <h3>{{ .Title }}</h3>
                        <hr />
                        <p>
                            {{ .Description | plainify | htmlUnescape | truncate 100 }}{{ if
                            .Truncated }}...{{ end }}
                        </p>
                    </hgroup>
                    <small> {{- partial "post_meta.html" . -}} </small>
                </article>
            </a>
            {{ end }}
        </div>
    </div>
    <div class="text-center">
        <a href='{{ "/blog" | absLangURL }}'><kbd>{{.Site.Params.homepage.seeMoreText}}</kbd></a>
    </div>
</section>
{{ end }}

{{- if (.Site.Params.homepage.showPortfolioSection) }}
<section>
    <hgroup class="text-center">
        <h2>{{.Site.Params.homepage.portfolioTitle}}</h2>
        <h3>{{.Site.Params.homepage.portfolioDescription}}</h3>
    </hgroup>
    <div class="container">
        <div class="grid grid-post">
            {{ range .Site.Params.homepage.portfolio }}
            <a class="portfolio-post" href="{{.websiteUrl}}">
                <figure>
                    <img
                            src="{{.imageUrl}}"
                            width="600"
                            height="400"
                            layout="responsive"
                            alt="{{.alt}}"
                    ></img>
                </figure>
                <hgroup class="text-center">
                    <h4>{{.description}}</h4>
                </hgroup>
            </a>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}

{{ end }}
